.footer {
 max-width: 100%;   
 
}

.footer__copyright {
    max-width: 166px;
    font-weight: 100;
    font-size: 10px;
     margin: 92px auto 0;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        margin-top: 64px;
        line-height: 14px;
    }
}