.place {
margin: 0 148px;
display: grid;
grid-template-columns: 460px 1fr;
grid-template-rows: auto auto;
grid-template-areas: "title author" "image text" "button text";
column-gap: 40px;
row-gap: 40px;
}

.place_title {
    grid-area: title;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.5;
    grid-column: 1;
    align-self: end;
   margin: 0;
}

.place__author {
    align-self: end;
    grid-area: author;
}

.place__artista {
    max-width: 85px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #AAAAAA;
}

.place__artista-author {
max-width: 455px;
font-weight: 400;
font-size: 18px;
line-height: 0.5;
align-self: end;
}

.place__image {
    grid-area: image;
    max-width: 460px;
    gap: 10px;
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

    
}

.place__textos {
    grid-area: text;
    display: flex;
    flex-direction: column;
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
}

.place__textos p {
    margin-top: 25px;
}

.place__button {
    grid-area: button;
    width: 356px;
    height: 48px;
    font-weight: 600;
    font-size: 18px;
    background: linear-gradient(#0278FE 0%, #003A7B 99.99%);
    cursor: pointer;
    margin-top: 48px;

}